button-round-factor($size)
  if $size == 'small'
    .54
  else
    .47

.q-btn
  position relative
  display inline-flex
  align-items center
  justify-content center
  outline 0
  border 0
  vertical-align middle
  cursor pointer
  -webkit-appearance button
  padding $button-padding
  text-decoration none
  white-space nowrap
  color inherit
  background transparent
  transition $button-transition

  &.full-width
    border-radius 0 !important
    align-items stretch

  .q-btn-inner
    flex 1 0 auto
    flex-wrap nowrap
    white-space normal

    &> :not(.q-btn-inner-content)
     flex 0 0 auto
    .q-btn-inner-content
      flex 1 1 auto

.q-btn-rectangle
  border-radius $button-border-radius

.q-btn-outline
  border 1px solid currentColor
  background transparent !important

.q-btn-push
  border-bottom 3px solid rgba(0, 0, 0, .15)
  border-radius 7px
  &:active:not(.disabled)
    border-bottom 0

.q-btn-rounded
  border-radius 28px

.q-btn-round
  border-radius 50%
  padding 0

for $name, $size in $button-sizes
  .q-btn-{$name}
    font-size round($size * .38)
    .q-btn-inner:before
      content ""
      height $size
      display inline-block
      vertical-align middle
      transition $button-transition
    &.q-btn-push:active:not(.disabled)
      .q-btn-inner:before
        height $size + 3px
        transition 0s
    .q-icon
      font-size round($size * .68)
    .q-spinner
      height round($size * .68)
      width round($size * .68)
for $name, $size in $button-round-sizes
  .q-btn-round.q-btn-{$name}
    height $size
    width $size
    .q-icon, .q-spinner
      height round(button-round-factor($name) * $size)
      width round(button-round-factor($name) * $size)
      font-size round(button-round-factor($name) * $size)
