.q-input-chips
  margin-top -8px
  margin-bottom -2px
  margin-left -8px
  > div
    padding-top 4px
    padding-left 8px
  .q-input-chips-target
    padding-top 4px
    min-width 70px
    min-height 30px
  .q-if-dense &
    margin-top -5px
    margin-bottom 1px
    .q-input-chips-target
      margin-top -2px
      min-height 24px
